// Comment
.branding {
  background-color: #7F8C8D;
  color: #fff;
  height: calc(100vh - 60.33px);
  position: relative;
}

.branding div {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}

.branding h1,
.branding p {
  margin-top: 0;
  margin-bottom: 0;
}

.branding p {
  margin-bottom: 30px;
}

.branding a {
  background-color: #1abc9c;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: .5s;
}

.branding a:hover {
  background-color: #16a085;
}
