// Comment
.branding {
  background-color: $color-primary;
  color: $main-text-body-color;
  height: calc(100vh - 60.33px);
  position: relative;
  @media #{$desktop} {
    max-height: calc(100vh - 48.67px);
  }
}

.branding div {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  text-align: center;
}

#canvas-animation {
  width: 100%;
}

.branding h1,
.branding p {
  margin-top: 0;
  margin-bottom: 0;
}

.branding p {
  margin-bottom: 30px;
}
