#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding-top: 30px;
  color: white;
}

#websitePresentation {
  padding: 30px 10px;
  color: #fff;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  @media #{$tablet} {
    width: 70%;
  }
  @media #{$desktop} {
    width: 45%;
  }
}

#websiteImageContainer {
  width: 100%;
  margin: auto;
  position: relative;
}

img#closeBtn {
  width: 25px;
  position: absolute;
  top: -20%;
  right: 0;
  opacity: .7;
  cursor: pointer;
  @media #{$tablet} {
    top: -10%;
  }
}

img#closeBtn:hover {
  opacity: 1;
}

#websiteImageContainer img {
  max-width: 100%;
  border-radius: 10px;
  transition: .5s;
}

#websiteDescription {
  width: 100%;
  margin: auto;
}

#websiteDescription #introduction {
  margin-bottom: 20px;
  font-size: .8em;
  @media #{$tablet} {
    margin-bottom: 30px;
    font-size: .9em;
  }
}

#websiteDescription .btn {
  display: block;
  margin-top: 10px;
  @media #{$tablet} {
    margin-top: 0px;
    display: inline-block;
    width: 45%;
    &:first-of-type {
      margin-right: 9.99%;
    }
  }
}
