
// This icon appears only on mobile devices and is removed on larger devices
#hamburger-img {
  position: absolute;
  left: 5px;
  top: 15px;
  width: auto;
  height: 30px;
  cursor: pointer;

  @media #{$tablet} {
    display: none;
  }
}
