// General Settings
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 280px;
}

#main-wrapper {
  @media #{$desktop} {
    display: flex;
  }
}

#main-container {
  width: 95%;
  margin: 0 auto;
}

#main-container h3 {
  text-transform: uppercase;
  color: #777;
}

.main-desktop-container {
  @media #{$desktop} {
    width: 100%;
  }
}


img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
