.student-portfolio {
  @extend %centered;
}

#projects {
  @media #{$tablet} {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media #{$desktop} {
    margin-bottom: 0;
  }
}


.student-projects {
  font-size: 1em;
  @media #{$tablet} {
    flex-basis: 50%;
    padding: 0px 5px;
  }
  @media #{$desktop} {
    flex-basis: 33.3333%;
    &:hover {
      transition: .30s;
      background: #aaa;
      color: #fff;
    }
  }
}
