/************************
    CSS SUMMARY:
      1. GENERAL
      2. HEADER
      3. MAIN
      4. FORM GENERAL SETTINGS
      5. .CONTACT-INFO
      6. .NEWSLETTER-SECTION
      7. FOOTER
      8. MEDIA QUERIES
************************/



/************************
    GENERAL
************************/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
}



/************************
    HEADER
************************/

header {
  background-color: #2d3945;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}

header h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
}



/************************
    MAIN
************************/

main {
  max-width: 100%;
  background-color: #eee;
  margin: 0 auto;
  padding: 20px 10px;
}

main section {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 4px solid black;
}

main section h2 {
  font-size: 1.2em;
}

main section p {
  font-size: .8em;
  font-weight: lighter;
}



/************************
    FORM GENERAL SETTINGS
************************/

form {
  margin-top: 5px;
  padding-top: 20px;
  border-top: 2px solid black
}

fieldset {
  border: none;
  padding: 0;
}

fieldset legend {
  font-weight: bold;
  padding-bottom: 20px;
}



/************************
    .CONTACT-INFO
************************/

.contact-info label {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: .9em;
}

.contact-info input,
.contact-info select,
.newsletter-section select,
.newsletter-section textarea  { /* WARNING: some .newsletter-section's rules are here just for DRY  */
  margin: 15px 0 20px;
  width: 100%;
  height: auto;
  padding: 15px;
  background-color: #ddd;
  -webkit-transition: .5s;
  transition: .5s;
  border: none;
}

/* these rules below allow to place the placeholder on the right */
::-webkit-input-placeholder {
   color: #777;
   text-align: right;
}

:-moz-placeholder { /* Firefox 18- */
  color: #777;
  text-align: right;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #777;
  text-align: right;
}

:-ms-input-placeholder {
  color: #777;
  text-align: right;
}
/* End of special placeholder rules */

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
  outline: 2px solid #ddd;
  border-radius: 5px;
  background: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.help {
    display:none;
    font-size:90%;
    color: red;
}
input:focus + .help {
    display:inline-block;
}

.contact-info input:last-of-type {
  display: block;
  width: 60%;
}



/************************
    .NEWSLETTER-SECTION
************************/

hr {
  border: 0;
  height: 2px;
  background: #333;
}

.newsletter-section {
  margin-top: 30px;
}

.newsletter-section div {
  padding: 2px 4px;
  font-weight: lighter;
  font-size: .9em;
}

.newsletter-section input[type=checkbox], .newsletter-section input[type=radio] {
  margin: 5px 10px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

button {
  width: 100%;
  height: 50px;
  background-color: #4ebbb5;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

button + button {
  margin-top: 10px;
}

button:hover {
  background-color: #55CCC5;
  -webkit-transition: .2s;
  transition: .2s;
}


/************************
    FOOTER
************************/

footer {
  text-align: center;
  font-weight: lighter;
  color: #aaa;
  font-style: italic;
  font-size: .9em;
}



/************************
    MEDIA QUERIES
************************/

@media screen and (min-width: 480px) {
  main {
    max-width: 760px;
  }

  form {
    max-width: 100%;
  }

  .contact-info input:last-of-type {
    display: inline-block;
  }

  .contact-info label {
    width: 30%;
    float: left;
    padding: 15px 15px 15px 0;
  }

  .contact-info input, .contact-info select, .contact-info input:last-of-type {
    width: 65%;
    margin-top: 0;
  }

}


@media screen and (min-width: 760px) {

  .contact-info label, .contact-info legend {
    padding: 15px;
  }

  input[type=text]:hover,
  input[type=email]:hover,
  input[type=url]:hover,
  input[type=tel]:hover,
  textarea:hover,
  select:hover {
    background-color: #fff;
    -webkit-transition: .5s;
    transition: .5s;
  }

  button {
    width: 40%;
    display: inline-block;
    margin-left: 60px;
  }

  button + button {
    margin-top: 0;
    margin-left: 10px;
  }

  footer {
    margin-top: 40px;
  }

}
