// Daily Traffic and Mobile Users Widget
.daily-and-mobile-container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  @media #{$tablet} {
    display: flex;
    flex-direction: row;
  }
}

.daily-traffic-container {
  border-top: 1px solid #ccc;
  @media #{$tablet} {
    border-right: 1px solid #ccc;
  }
}

.mobile-users-container {
  @media #{$tablet} {
    border-top: 1px solid #ccc;
  }
}

.daily-traffic-container,
.mobile-users-container {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  @media #{$tablet} {
    width: 50%;
  }
}

.mobile-users-container h3 {
  @media #{$tablet} {
    margin-left: 10px;
  }
}

.daily-traffic-widget {
  margin-left: -10px;
  max-height: 200px;
  @media #{$tablet} {
    margin-top: 20px;
    max-height: 250px;
  }
}

.mobile-users-widget-and-legend,
.mobile-users-legend {
  display: flex;
  flex-wrap: wrap;
}


.mobile-users-widget {
  max-height: 150px;
  max-width: 150px;
  margin: auto;
  @media #{$desktop} {
    max-width: 200px;
    max-height: 200px;
  }
}

.mobile-users-legend {
  margin-top: 20px;
  flex-direction: row;
  @media #{$desktop} {
    flex-direction: column;
    margin-top: 0;
    margin-right: 20px;
  }
}

.mobile-users-legend span {
  margin: 0px 10px;
  padding: 0px 20px 0px 10px;
}

.mobile-users-legend p:first-child span {
  background-color: #81C98F;
}

.mobile-users-legend p:nth-of-type(2) span {
  background-color: #74B1BF;
}

.mobile-users-legend p:nth-of-type(3) span {
  background-color: #7377BF;
}

.mobile-users-legend p:nth-of-type(4) span {
  background-color: #6195ED;
}
