// Message User and Settings
.message-user-and-settings {
  margin: 20px auto;
  position: relative;
  @media #{$desktop} {
    display: flex;
    border-top: 1px solid #ccc;
    margin-top: 0;
  }
}

// Start: The pop-up alert dialog box
  //If no error
  .alert-box-message-user,
  .alert-box-error-message-user {
    position: fixed;
    z-index: 200;
    width: 90%;
    height: 200px;
    border-radius: 10px;
    bottom: 50%;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    background-color: #81C98F;
    color: #fff;
    text-align: center;
    display: none;
  }
  //If error
  .alert-box-error-message-user {
    background-color: #c0392b;
  }
  // The close this button
.close-this-btn {
  cursor: pointer;
  opacity: .7;
}

.close-this-btn:hover {
  opacity: 1;
}
// End: The pop-up alert dialog box

.message-user,
.settings {
  @media #{$desktop} {
    width: 50%;
    padding-left: 25px;
    padding-right: 30px;
  }
}

.settings {
  @media #{$desktop} {
    border-left: 1px solid #ccc;
  }
}

.message-user {
  border-bottom: 1px solid #ccc;
  @media #{$desktop} {
    border-bottom: none;
  }
}

.message-user input {
  @media #{$desktop} {
    margin-top: 10px;
  }
}

.message-user textarea {
  @media #{$desktop} {
    height: 95px;
  }
}

.message-user input,
.message-user textarea,
.message-user button,
.settings select {
  width: 100%;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 5px;
  cursor: pointer;
  color: #7377BF;
}

.message-user input:hover,
.message-user textarea:hover,
.settings select:hover {
  border-color: #7377BF;
}

.message-user input:focus,
.message-user textarea:focus,
.message-user button:focus,
.settings button:focus,
.settings select:focus {
  outline: 0;
}

.settings select:focus {
  color: #7377BF;
}

.settings select {
  color: #bbb;
}

.message-user button {
  background-color: #7377BF;
  color: #fff;
  border: none;
}

.message-user-and-settings button {
  cursor: pointer;
  transition: .4s;
  text-transform: uppercase;
}

.message-user-and-settings button:hover {
  background-color: #81C98F;
}

.settings button {
  cursor: pointer;
  padding: 10px;
  width: 40%;
  margin: 0 4.5%;
  background-color: #7377BF;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.settings .btn-cancel {
  background-color: #bbb;
}

.settings .btn-cancel:hover {
  background-color: #444;
}

// The two toggle switch buttons
.settings-btn:nth-of-type(1) {
  margin-top: 28px;
}

.settings-btn:nth-of-type(2) {
  margin-top: 37px;
  margin-bottom: 34.5px;
}

input.switch:empty
{
	margin-left: -9999px;
}

input.switch:empty ~ label
{
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
	margin: 0.2em 0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

input.switch:empty ~ label:before,
input.switch:empty ~ label:after
{
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 3.6em;
	background-color: #bbb;
	border-radius: 34px;
	-webkit-transition: all 100ms ease-in;
	transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
	width: 1.4em;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 34px;
}

input.switch:checked ~ label:before
{
	background-color: #81C98F;
}

input.switch:checked ~ label:after
{
	margin-left: 2em;
}
