// New Members and Recent Activity
.new-members-and-recent-activity {
  margin: 20px auto;
  @media #{$desktop} {
    display: flex;
    margin-bottom: 0;
  }
}

.new-members,
.recent-activity {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  @media #{$desktop} {
    border-bottom: none;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
  }
}


.recent-activity {
  border-top: none;
  @media #{$desktop} {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
}

.new-members-information {
  border-bottom: 1px solid #ccc;
  @media #{$tablet} {
    display: flex;
    position: relative;
  }
}

.new-members-information:last-child {
  border: none;
}

.members-photograph {
  display: none;
  @media #{$tablet} {
    display: initial;
    border-radius: 50%;
    height: 35px;
    position: absolute;
    top: 20px;
  }
}

.new-members .new-members-information:nth-of-type(1) .members-photograph,
.recent-activity .new-members-information:nth-of-type(1) .arrow-right-icon {
  @media #{$tablet} {
    top: 0;
  }
}

.members-photograph.svg-icon {
  fill: #7479BD;
}


.members-name,
.members-email,
.members-activity,
.members-activity-date {
  @media #{$tablet} {
    margin-left: 45px;
  }
  @media #{$desktop} {
    margin-left: 40px;
  }
}

.members-name {
  color: #777;
  font-weight: bold;
}

.members-email {
  color: #A8AAD5;
  @media #{$tablet} {
    opacity: .7;
    cursor: pointer;
  }
}

.members-email:hover {
  @media #{$tablet} {
    opacity: 1;
  }
}

.members-inscritpion-date {
  color: #777;
  font-weight: lighter;
}

.new-members-information p:first-of-type {
  width: 90%;
  position: relative;
  @media #{$desktop} {
    width: 100%;
  }
}

.members-activity {
  color: #777;
  @media #{$desktop} {
    font-size: .8em;
  }
}

.members-activity-date {
  color: #777;
  font-weight: bold;
  font-size: .9em;
}

.arrow-right-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  right: -14%;
  bottom: 25px;
  opacity: .7;
  transition: .4s;
  cursor: pointer;
  @media #{$tablet} {
    bottom: 0;
  }
  @media #{$desktop} {
    right: -5%;
  }
}

.arrow-right-icon:hover {
  opacity: 1;
}

.arrow-right-icon path {
  fill: #7479BD;
}
