<header>
    <ul>
        <li>
            <a href="#">tom</a>
        </li>
        <li>
            <a href="#">GitHub</a>
        </li>
        <li>
            <a href="#">Medium</a>
        </li>
    </ul>
    <ul>
        <li>
            <a href="#">Teaching</a>
        </li>
        <li>
            <a href="#">Projects</a>
        </li>
        <li>
            <a href="#">Publications</a>
        </li>
        <li>
            <a href="#">Experimentations</a>
        </li>
    </ul>
</header>

<style>
    a {
        color: var(--white);
        text-decoration: none;
    }
</style>
