---
import GitHubIcon from "../icons/GitHub.astro";
import MediumIcon from "../icons/Medium.astro";
---

<header>
  <nav class="main-navigation">
    <ul>
      <li>
        <a class="username" href="/">tom</a>
      </li>
      <ul class="desktop-navigation">
        <li>
          <a href="/teaching">Teaching</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Publications</a>
        </li>
        <li>
          <a href="#">Experimentations</a>
        </li>
      </ul>
      <li class="ml-auto">
        <a href="#">
          <GitHubIcon />
        </a>
      </li>
      <li>
        <a href="#">
          <MediumIcon />
        </a>
      </li>
    </ul>
  </nav>
  <nav class="mobile-navigation">
    <ul>
      <li>
        <a href="/teaching">Teaching</a>
      </li>
      <li>
        <a href="#">Projects</a>
      </li>
      <li>
        <a href="#">Publications</a>
      </li>
      <li>
        <a href="#">Experimentations</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    margin-bottom: 1.5rem;

    @media screen and (min-width: 768px) {
      margin-bottom: 2.5rem;
    }
  }

  a {
    color: var(--white);
    text-decoration: none;
  }

  .ml-auto {
    margin-left: auto;
  }

  .main-navigation {
    margin-bottom: 1.25rem;
  }

  .main-navigation ul,
  .mobile-navigation ul {
    padding-left: 0;
    list-style-type: none;
  }

  .main-navigation ul {
    display: flex;
    gap: 0.75rem;
    align-items: center;
  }

  .username {
    font-family: var(--pixelify-ff);
    font-size: 1.5rem;
    font-weight: 700;
  }

  .main-navigation .desktop-navigation {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      margin-left: 16px;
    }
  }

  .mobile-navigation {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  .desktop-navigation a,
  .mobile-navigation a {
    font-family: var(--pixelify-ff);
    font-size: 1.125rem;
    display: block;
    padding-top: 0.175rem;
    padding-bottom: 0.175rem;
  }
</style>
