.btn {
  background-color: $btn-color;
  color: $main-text-body-color;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  transition: .5s;
}

.btn:hover {
  background-color: $btn-hover-color;
}
