
// General Settings

* {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
  font-family: 'Open Sans', sans-serif;  
}
