
/******************************
  GENERAL SETTINGS
******************************/
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: #EDEFF0;
}

.main-wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 40px;
}



/******************************
  FONT ALIGNEMENT SETTINGS
******************************/
h1 {
  text-align: center;
  font-weight: lighter;
}

aside video {
  width: 100%;
}

article p {
  text-align: justify;
}



/******************************
  VIDEO CONTAINER
******************************/
section aside {
  position: relative;
}

/*
  Video
*/
#video-container:hover #progress-bar {
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
}

#video-container:hover .playButton,
#video-container:hover .pauseButton,
#video-container:hover .fullscreenIcon,
#video-container:hover .volumeOnIcon,
#video-container:hover .volumeOffIcon {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

#video-container:hover .timerElement {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  color: white;
  -webkit-transform: translateY(-36px);
          transform: translateY(-36px);
}

/*
  Progress Bar
*/
#progress-bar {
  display: none;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
  bottom: 10px;
  left: 23px;
  width: 95%;
  height: 7px;
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, .2);
}

#progress-bar::-webkit-progress-bar {
  background-color: rgba(255, 255, 255, .2);
}

#progress-bar::-moz-progress-bar {
  background-color: orange;
}

#progress-bar::-webkit-progress-value {
  background-color: orange;
}



/*
  Buttons
*/
.button {
  width: 22px;
  height: 26px;
  position: absolute;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.playButton,
.pauseButton {
  left: 10px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.timerElement {
  width: auto;
  height: auto;
  left: 50px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.volumeOnIcon,
.volumeOffIcon {
  right: 50px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.fullscreenIcon {
  right: 10px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
