.main-header {
  background-color: $main-nav-background-color;
  color: $main-nav-color;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #fff;
  @media #{$desktop} {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
}

.heading {
  padding: 0px 5px;
  display: flex;
  flex-direction: row;
  @media #{$tablet} {
    justify-content: center;
  }
}

.heading .hamburger {
  margin-left: auto;
  cursor: pointer;
  opacity: .7;
  transition: .5s;
  @media #{$tablet} {
    display: none;
  }
}

.heading .hamburger:hover {
  opacity: 1;
}

.heading .svg-icon {
  height: 35px;
  width: 35px;
}

.heading .hamburger path {
  fill: $carnation;
}

.heading h2 {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5px;
  @media #{$desktop} {
    margin-left: 25px;
    margin-top: 0;
  }
}

.heading h2 a {
  text-decoration: none;
  color: #F45B69;
}
