@media #{$desktop} {
  .main-nav {
    margin-left: auto;
  }
}

.main-nav ul {
  margin-top: 0;
  padding-left: 0;
  display: none;
  flex-direction: column;
  text-align: center;
  @media #{$tablet} {
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 20px auto 10px;
  }
  @media #{$desktop} {
    margin: 0 0;
  }
}

.main-nav li {
  list-style-type: none;
  margin: 0 10px 10px;
  background-color: #fff;
  padding: 10px 0;
  @media #{$tablet} {
    background-color: transparent;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
  }
  @media #{$desktop} {
    margin-left: 20px;
  }
}

.main-nav a {
  text-decoration: none;
  color: #F45B69;
  display: block;
  @media #{$tablet} {
    display: inline;
    color: #F45B69;
    opacity: .8;
    transition: .4s;
    &:hover {
      opacity: 1;
    }
  }
}
