/*******************************
  General Settings
*******************************/
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #EDEFF0;
}

* {
  box-sizing: border-box;
}

/*ul {
  padding-left: 0;
}*/

/*li {
  list-style-type: none;
}*/



/*******************************
  Heading
*******************************/
.main-wrapper header {
  background-color: #3E474F;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}

.main-wrapper header h1 {
  margin: 0;
  font-weight: bold;
}



/*******************************
  Main Gallery & Form Settings
*******************************/
.gallery {
  width: 90%;
  margin: 60px auto 0;
}

.gallery .OMDbForm {
  background-color: #fff;
  width: 100%;
  margin: auto;
  padding: 20px 10px;
}

.gallery .OMDbForm label,
.gallery .OMDbForm input {
  margin-top: 20px;
  cursor: pointer;
}

.OMDbForm .OMDbSearch {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  outline: 0;
  border: 1px solid #d4d9dd;
  transition: .4s;
  color: #222;
}

.OMDbForm .OMDbSearch:hover {
  background-color: #EDEFF0;
}

.OMDbForm .OMDbSearch:focus {
  border-color: #3E474F;
}

.OMDbForm .submit-btn {
  width: 90%;
  padding: 10px;
  display: block;
  margin: auto;
  background-color: #5FCF80;
  color: #fff;
  border: none;
  border-radius: 10px;
  transition: .4s;
}

.OMDbForm .submit-btn:hover {
  background-color: #3AC162;
}



/*******************************
  Movies Gallery
*******************************/
#movies ul {
  padding-left: 0;
}

#movies li {
  border: 1px solid #ccc;
  margin: 10px auto;
  background-color: #fff;
  transition: .4s;
  max-width: 80%;
  list-style-type: none;
}

#movies li:hover {
  border-color: #3E474F;
}

#movies img {
  padding: 10px;
  width: 100%;
  display: block;
  cursor: pointer;
}



/*******************************
  Overlay
*******************************/
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding-top: 50px;
}

#movieContainer {
  margin-left: 0;
  margin-right: 0;
  padding: 20px 10px;
  text-align: center;
  background-color: #3E474F;
  color: #fff;
  border-radius: 10px;
}

#movieDescription {
  text-align: left;
}



/*******************************
  Media Queries
*******************************/
/* Tablet *********************/
@media (min-width: 768px) {
  /* Main Gallery & Form Settings */
  .gallery .OMDbForm {
    width: 80%;
  }

  .OMDbForm .submit-btn {
    width: 70%;
  }

  /* Movies Gallery */
  #movies ul {
    display: flex;
    flex-wrap: wrap;
  }

  #movies li {
    width: 30%;
  }

  #movieContainer {
    width: 90%;
    margin: auto;
    display: flex;
  }
}

/* Desktop *********************/
@media (min-width: 1024px) {
  #movies li {
    width: 25%;
  }

  #movieContainer {
    width: 60%;
  }
}
