@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500;700&family=Space+Mono:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Space Mono', monospace;
  }

  h1, h2, h3 {
    font-family: 'Pixelify Sans', cursive;
  }

  nav li a {
    font-family: 'Pixelify Sans', cursive;
  }
}

@layer components {
  .project-imgs {
    @apply relative mb-5;
  }

  .project-imgs:hover .project-first-img {
    @apply hover:opacity-0 duration-300;
  }
  .project-second-img {
    @apply absolute left-0 top-0 opacity-0;
  }

  .project-imgs:hover .project-second-img {
    @apply  hover:opacity-100 duration-300;
  }
}

