<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" href="/icon-nx.png" />
    
    <title>Thomas Dimnet</title>
  </head>
  <body>
    <slot />
  </body>
</html>