---
import "../styles/normalize.css";
import "../styles/reset.css";

import "@fontsource/pixelify-sans";
import "@fontsource/space-grotesk";

import Header from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" href="/icon-nx.png" />

    <title>Thomas Dimnet</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  body {
    background-color: #151515;
    color: #fff;
    font-family: "Space Grotesk", sans-serif;
  }
</style>
